<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BizLand Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: BizLand
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo"><img src="img/logo.png" alt=""></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/loginpage">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1 class="fs-1">Welcome to <span>SETU</span></h1>
      <h2 class="fs-1">Shaping Tommorow's Leaders</h2>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Pricing Section ======= -->
  <footer id="footer">
    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <br/>
            <br/>
            <h4><b>SETU transforming Professionals to Pioneer</b></h4><br/>
            <p>SETU's AI-driven revolutionizes your talent acquisition and development. Discover top candidates effortlessly, deliver outcome-based training with measurable ROI, and assess both technical skills and essential soft skills for data professionals.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3 style="background-color: rgb(5, 5, 44);">Setu AI Academy</h3>
            <h6 style="color: rgb(111, 115, 119);">Is your current skilling method outcome oriented? What is the ROI of LnD?</h6>
            <h6>Upskill your talent with purpose. Measure the impact of your training investment.</h6>
            <ul>
              <li style="color: rgb(161, 180, 196);">Strengthen your talent in 1/3rd time</li>
              <li style="color: rgb(161, 180, 196);">Upskill internal talents and sharpen your competitive edge</li>
              <li style="color: rgb(161, 180, 196);">NeoSkill senior management to drive innovation and AI driven strategic initiatives</li>
            </ul>
            <div class="btn-wrap">
              <button type="button" class="btn btn-warning btn-lg">Talk to us</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3 style="background-color: rgb(5, 5, 44);">Setu RecruitEase</h3>
            <h6 style="color: rgb(111, 115, 119);">Swamped with resumes but struggling to find the right talent for your company?</h6>
            <h6>Cut through the resume clutter. Find top talent, faster.</h6>
            <ul>
              <li style="color: rgb(161, 180, 196);">80% hiring time and efforts saved</li>
              <li style="color: rgb(161, 180, 196);">60% hiring cost savings</li>
              <li style="color: rgb(161, 180, 196);">4X productivity gain</li>
              <li style="color: rgb(161, 180, 196);">10X ROI</li>
            </ul>
            <div class="btn-wrap">
              <button type="button" class="btn btn-warning btn-lg">Talk to us</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3 style="background-color: rgb(5, 5, 44);">Setu SkillScan</h3>
            <h6 style="color: rgb(111, 115, 119);">Are you able to measure the natural strength of your data talent? What about attitude?</h6>
            <h6>Build high-performance data teams with confidence</h6>
            <ul>
              <li style="color: rgb(161, 180, 196);">Assess 8 Technical Skills</li>
              <li style="color: rgb(161, 180, 196);">Evaluate 5 attitudinal attributes</li>
              <li style="color: rgb(161, 180, 196);"> </li>
              <li style="color: rgb(161, 180, 196);"> </li>
              <li style="color: rgb(161, 180, 196);"> </li>
            </ul>
            <div class="btn-wrap">
              <button type="button" class="btn btn-warning btn-lg">Talk to us</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer" style="background-color: rgb(5, 5, 44);">
    <div class="footer-newsletter" style="background-color: rgb(5, 5, 44);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4 style="color: aliceblue;">Your challenge could be unique!</h4>
              <p style="color: aliceblue;">We're your troubleshooting partner, ready to custom design <br/> the perfect solution for you.</p>
              <button type="button" class="btn btn-warning">Get Started</button>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
      

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3>Why top companies partner with SETU?</h3>
          <p>We bring a wealth of expertise and a proven track record in solving challenges. By partnering with Setu, you gain a reliable ally dedicated to your success, empowering you to navigate the ever-evolving landscape of technology and innovation with confidence</p>
        </div>

        <section id="features" class="features">
          <div class="container">
    
            <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
    
              <div class="col-md-5">
                <img src="assets/img/features-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-7">
                <h3>Quality Talent Hiring</h3>
                <ul>
                  <li><i class="bi bi-check"></i> With Setu, establish a center excellence for skill development and knowledge dissemination.</li>
                  <li><i class="bi bi-check"></i> Utilize the SETU Codeverse platform for hackathon-based hiring to identify and recruit top talent efficiently.</li>
                  <li><i class="bi bi-check"></i> Access pre-trained and pre-evaluated talent at zero cost through SETU Codeverse, streaming the hiring process and reducing recruitment expenses.</li>
                </ul>
                <button type="button" class="btn btn-warning btn-lg">Share your requirements</button>
              </div>
            </div><!-- Features Item -->
    
            <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
              <div class="col-md-5 order-1 order-md-2">
                <img src="assets/img/features-2.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-7">
                <h3>Relevance and Skilling</h3>
                <ul>
                  <li><i class="bi bi-check"></i> SETU Codeverse integrates a proprietary platform with real-industry use cases for practical skill development.</li>
                  <li><i class="bi bi-check"></i> This unique combination provides hands-on experience and contextually relevant learning opportunities.</li>
                  <li><i class="bi bi-check"></i> By bridging theoretical knowledge with practical application, SETU Codeverse effectively trains and upskill hires to excel in real-world scenarios.</li>
                </ul>
                <button type="button" class="btn btn-warning btn-lg">Unlock Potential</button>
              </div>
            </div><!-- Features Item -->
    
            <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
              <div class="col-md-5">
                <img src="assets/img/features-3.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-7">
                <h3>Holistic Assessment</h3>
                <ul>
                  <li><i class="bi bi-check"></i> With SETU Codeverse assessment, organization can make informed decisions regarding talent acquisition, training, and professional development strategies.</li>
                  <li><i class="bi bi-check"></i> Our assessment framework covers 8 technical and 5 key  attitudinal attributes essential today's dynamic work environment.</li>
                </ul>
                <button type="button" class="btn btn-warning btn-lg">Assess your team talent</button>
              </div>
            </div><!-- Features Item -->
    
          </div>
        </section><!-- End Features Section -->
    





    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-8 col-md-6">
            <h2>Success Stories</h2><br/><br/>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="count-box">
              <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-fill-gear" viewBox="0 0 16 16">
                <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-3.59 1.787A.5.5 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.5 4.5 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                <path d="M11.886 9.46c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
              </svg> 350+ Data professionals trained</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
               <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
              </svg> 10X + proven ROI for companies</p>
            </div>
          </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" style="background-color: rgb(5, 5, 44);">
    <div class="footer-newsletter" style="background-color: rgb(5, 5, 44);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4 style="color: aliceblue;">Reach out to us and let's begin your journey</h4>
            <h4 style="color: aliceblue;">towards business expansion together!</h4>
              <button type="button" class="btn btn-warning btn-lg">Get Started</button>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>